/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* end css reset */
/* ---------------------------- */




html {
	overflow-y: scroll;
}
body {
	background-color : #1C232E;
	color : #cad3e3;
}

a img {
	border : 0px;
}

a {
	color : #d5dcea;
}

div#mainwrap {
	width : 900px;
	margin : 20px auto;
	min-height : 100%;
}

div#header {
	margin-bottom : 7px;
}

div#headerimagewrap {
	margin-left : 15px;
}

div#headertagline {
	margin-left : 20px;
	margin-top : 3px;
	width : 220px;
}

div#topmenuwrap {
	float : right;
	margin-right : 45px;
	margin-top : 5px;
}

div#tabs {
	padding:0.5em 0.3em 1em 0.3em;
	width : auto;

}

div#tabs h3 {
	background : none;
	margin:0.5em 0em 0.5em 0em;
}


div#footer {
	float : right;
	margin-right : 50px;
	margin-bottom : 10px;
	margin-top : 10px;
	font-size : 12px;
	font-family : "Trebuchet MS",Arial,sans-serif !important;
	color : #9aa3d3;
}

.topmenuitem a {
	background-color : #404f6a;
	padding: 5px;
	width : 100px;
	display : inline-block;
	font-size : 12px;
	font-family : "Trebuchet MS",Arial,sans-serif !important;
	text-align : center;
}

.topmenuitem a:hover {
	background-color : #4d5b74;
}

.topmenuitem a {
	text-decoration : none;
}


div#headertagline {
	font-family : "Trebuchet MS",Arial,sans-serif !important;
	font-size : 12px;
}

p {
	font-family : "Trebuchet MS",Arial,sans-serif !important;
	font-size : 13px;
	line-height : 1.5em;
	padding : 20px;
}

ul {
	padding : 0px 0px 10px 10px;
}

div.action-doc {
	padding-left : 8px;
	width : 700px;
}

}

div.code {
	margin-bottom : 15px;
	margin-left : 0.3em;
	margin-right : 0.3em;
	width : 100%;
}

div.code pre {
	border : 1px dashed #abb5c8;
	background-color : #4d5b74;
	padding : 10px;
	line-height : 1.5em;
	font-size : 12px;
}

.ui-tabs-panel div.code {
	width : 700px;
}


.option-name {
	font-weight : bold;
	font-size : 13px;
}

.option-type {
	font-style : italic;
	font-size : 12px;
}

.option-desc {
	font-size : 11px;
}

input[type="button"] {
	margin-right : 5px;
	margin-top : 5px;
	border : 1px solid rgb(120,130,155);
	background-color:rgb(200,215,234);
	font-size : 12px;
	padding : 3px 3px 4px 3px;
}

img#demoimage, canvas#demoimage {
	margin-top : 5px;
}

div.demo-options {
	float:left;
	margin-right:10px;
	margin-top:5px;
}


.content-box-top {
	background : transparent url(content_top.png) no-repeat top left;
	height : 16px;
	width : 865px;
}


.content-box-mid {
	background : transparent url(content_mid.png) repeat-y top left;
	width : 801px;
	padding-left : 32px;
	padding-right : 32px;
}

.content-box-bottom {
	background : transparent url(content_bottom.png) no-repeat top left;
	height : 16px;
	width : 865px;
}

.content-box-mid h1 {
	font-family : "Trebuchet MS",Arial,sans-serif !important;
	font-size : 24px;
	width : 700px;
	padding:1em 1em 0em 0em;
}

.content-box-mid h3 {
	font-family : "Trebuchet MS",Arial,sans-serif !important;
	font-size : 15px;
	margin:2em 0em 1em 0em;
	background-color : #4d5b74;
	padding : 3px;
}

.content-box-mid p {
	padding:0.5em 0.3em 1em 0.3em;
	width : auto;
}

.content-box-mid a:hover {
	color : white;
}

span.asciiatt {
	font-weight:bold;
}


h1 a {
	text-decoration : none;
}

h1 a:hover {
	text-decoration : underline;
}

.actiondemo {
	margin-left : 5px;
}

.docactionlist {
	width : 190px;
	display : inline-block;
	margin-bottom : 3px;
}

.actionbrowsersupport img {
	width : 22px; height : 22px;
	margin-right : 5px;
	position : relative;
	top : 4px;
}

.actionbrowsersupport {
	margin-right : 20px;
}

.actionbrowsersupport a {
	text-decoration : none;
}

.bottom-copyright a {
	text-decoration:none;
}

ul.action-options-list {
	list-style: disc;
	list-style-position : outside;
	margin-left : 2em;
}

ul.action-options-list li {
	line-height : 1.4em;
	margin-bottom : 0.2em;
}


ul.toc {
	list-style: disc;
	list-style-position : inside;
}

ul.toc li {
	font-family : "Trebuchet MS",Arial,sans-serif !important;
	font-size : 13px;
	line-height : 2em;
}

span.warningbox {
	display : inline-block;
	padding : 10px;
	border : 1px solid rgb(170,170,100);
	background-color : rgb(170,100,100);
	width : 57%;
	margin : 25px auto -5px 20%;
	font-family : "Trebuchet MS",Arial,sans-serif !important;
	font-size : 13px;
	color : rgb(250,250,200);
	font-weight : bold;
	position : relative;
}

span.warningheader {
	display : block;
	width : 100%;
	text-align:center;
	margin-bottom : 5px;

}

span.warninghidelink {
	display : block;
	position : absolute;
	right : -1px;
	top : -10px;
	border-top : 1px solid rgb(170,170,100);
	border-right : 1px solid rgb(170,170,100);
	border-left : 1px solid rgb(170,170,100);
	background-color : rgb(170,100,100);
	padding : 3px;
	width : 40px;
	text-align:center;
	cursor : pointer;

}

.top-link {
	font-size : 10px;
	float : right;
	margin-top : -15px;
	margin-right : 5px;
}
.top-link a {
	color : rgb(152,162,181);
	text-decoration : none;
}
.top-link a:hover {
	color : rgb(202,211,227);
	text-decoration : none;
}

#adsense-link-top {
	width : 728px;
	margin-top : 10px;
	margin-left : 68px;
}

.footer-badge {
	float:left;
	margin-right:10px;
	margin-top:-1px;
}

